.upg-pag-add,
.upg-pag-view {
    color: var(--Tutedudes-Primary-Purple, #800080);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.upg-pag-ccdl-left>img {
    width: 60px;
    height: 60px;
    border-radius: 9px;
}

.upg-pag-ccd-left {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* .upg-pag-ccdl-left {
    border-radius: 9px;
    box-shadow: 0px 4px 7.8px 0px rgba(255, 255, 255, 0.41) inset, 0px 3px 10.4px 0px rgba(59, 59, 59, 0.36);
} */

.upg-pag-ccd-right {
    color: #431943;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 6px;
    display: flex;
    gap: 20px;

}

.upg-pag-ccd-right>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upg-pag-course-card-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 15px;
    border-radius: 10px;
    background: var(--Color-2, #FFF);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
    width: 372px;
    height: 100px;
    gap: 43px;
    /* margin-right: auto; */
}

@media (width<1280px) {}

@media (width<1080px) {}

@media (width<820px) {
    .upg-pag-course-card-div {
        width: 100%;
    }
}


@media (width<480px) {
    .upg-pag-course-card-div {
        gap: 18px;
    }
}

@media (width<375px) {

    .upg-pag-view,
    .upg-pag-add {
        font-size: 13px;
    }

    .upg-pag-ccdr-left>svg,
    .upg-pag-ccdr-right>svg {
        width: 28.361px;
        height: 28.361px;
        flex-shrink: 0;
    }

    .upg-pag-ccdl-left>img {
        width: 45px;
        height: 45px;
    }

    .upg-pag-ccdl-right {
        font-size: 14px;
    }
}