.upg-pag-courses {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.upg-pag-course-heading {
    color: var(--Woodsmoke-700, #4C4D52);
    /* text-align: center; */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 41.6px */
}

.upg-pag-course {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.upg-pag-course-div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 20px;
    /* justify-content: space-between; */
}

.upg-pag-course-div-outer {
    margin: 0 auto;
}