.upg-pag-hero-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section.upg-pag-hero-section {
    position: relative;
    padding-top: 24px;
}

.upg-pag-hero-design {
    position: absolute;
    top: 0;
    right: -100px;
    z-index: -1;
    /* transform: rotate(-68.304deg); */
    flex-shrink: 0;
    height: 500px;
    width: 500px;
}

.upg-pag-hero-heading {
    line-height: 1.2;
}

.upg-pag-hero-top-para {
    max-width: 351px;
    margin-top: 12px;
    font-size: 18px;
}

.upg-pag-ht-left {
    max-width: 600px;
    margin: 0 auto;
}

.upg-pag-htl-bottom {
    margin-top: 54px;
}

.upg-pag-hero-top {
    margin-bottom: 50px;
}

.upg-pag-hero-middle {
    border-radius: 21px;
    border: 1px solid #800080;
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 30px auto 45px auto;
    padding: 19px 36px;
    width: fit-content;
}

.upg-pag-hero-bottom {
    display: grid;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /* align-items: center;
    justify-content: center; */
    gap: 27px;
}

.upg-pag-hb-card {
    height: 100%;
}

.upg-pag-hb-card-1 {
    border-radius: 28px;
    background: var(--Eminence-950, #450D45);
    box-shadow: 0px 4px 25.3px 0px rgba(137, 137, 137, 0.25);
    padding: 46px 32px;
}

.upg-pag-hb-card-2 {
    border-radius: 28px;
    padding: 46px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Linear, linear-gradient(100deg, #B1B1B1 0.89%, #BDBDBD 9.58%, #EBE6E6 26.9%, #FFF 44.84%, #F0F0F0 64.21%, #CBCBCB 84.67%, #BEBEBE 102.86%));
}

.upg-pag-hero-card-inner {
    display: flex;
    flex-direction: column;
    gap: 11px;

}

.upg-pag-select-course-btn {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 7.477px;
    background: #800080;
    box-shadow: 0px 4px 8.9px 0px rgba(0, 0, 0, 0.25);
    color: var(--Color-2, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%;
    /* 22.23px */
}

.upg-pag-hero-card2-heading {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
}

.upg-pag-hero-card1-heading {
    color: var(--Color-2, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
}

.upg-pag-hb-card-inner1 {
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.upg-pag-hb-card-inner2 {
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.upg-pag-hero-card1-para {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--Woodsmoke-50, #F5F5F6);
    font-size: 24px;
    gap: 9px;
}

.upg-pag-hero-card2-para {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--Woodsmoke-900, #3B3B3E);
    font-size: 24px;
    gap: 9px;
}

.upg-pag-hero-card1-para>svg {
    width: 42px;
    height: 42px;
}

.upg-pag-proceed {
    border-radius: 7.998px;
    background: #800080;
    box-shadow: 0px 4.279px 9.521px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 38px;
}

.upg-pag-htl-bottom-left {
    display: flex;
    align-items: center;
    gap: 33px;
}

.upg-pag-enroll-now {
    display: flex;
    padding: 20px 49px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7.998px;
    background: #800080;
    color: var(--Color-2, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%;
    /* 22.23px */
    box-shadow: 0px 4.279px 9.521px 0px rgba(0, 0, 0, 0.25);
}

.upg-pag-ht-left {
    width: 100%;
}

.upg-pag-ht-right>img {
    width: 100%;
}

.upg-pag-price-cut {
    font-size: 20px;
}

@media (width<1280px) {}

@media (width<1080px) {
    .upg-pag-hero-bottom {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 600px;

    }
}

@media (width<980px) {
    .upg-pag-hero-top {
        grid-template-rows: fit-content fit-content;
        grid-template-columns: 1fr;
    }

    .upg-pag-ht-left {
        margin: 0;
        grid-row: 2/3;
    }

    .upg-pag-price-cut {
        font-size: 18px;
    }
}

@media (width<780px) {}

@media (width<580px) {
    .upg-pag-hero-middle {
        display: none;
    }

    .upg-pag-hero-design {
        height: 300px;
        width: 500px;
    }

    .upg-pag-price-cut {
        font-size: 16px;
    }

    .upg-pag-select-course-btn {
        font-size: 16px;
    }

    .upg-pag-hero-bottom {
        margin-top: 40px;
    }

    .upg-pag-hero-card1-heading,
    .upg-pag-hero-card2-heading {
        font-size: 32px;
    }

    .upg-pag-hero-card1-para,
    .upg-pag-hero-card2-para {
        font-size: 20px;
    }
}

@media (width<480px) {

    .upg-pag-hero-card1-heading,
    .upg-pag-hero-card2-heading {
        font-size: 24px;
    }

    .upg-pag-price-cut {
        font-size: 14px;
    }

    .upg-pag-hero-card1-para,
    .upg-pag-hero-card2-para {
        font-size: 16px;
    }

    .upg-pag-enroll-now {
        padding: 20px;
    }

    .upg-pag-htl-bottom-left {
        gap: 25px;
    }

    .upg-pag-hb-card {
        padding: 28px 12px;
    }

    .upg-pag-hb-card-inner1 {
        gap: 16px;
    }
}

@media (width<360px) {
    section.upg-pag-hero-section {
        padding: 48px 9px;
    }

    .upg-pag-hero-heading {
        font-size: 32px;
    }
}