.upg-pag-star-div {
    display: flex;
    gap: 5px;
}

.upg-pag-star {
    width: 25.264px;
    height: 25.264px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upg-pag-previous-arrow {
    display: flex;
    width: 44.212px;
    height: 44.212px;
    padding: 9.474px 9.475px 9.474px 9.473px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    border: 1.053px solid var(--grey, #5D6165);
    background: rgba(255, 255, 255, 0.00);
    margin-right: 15px;
}

.upg-pag-previous-arrow>svg {
    width: 25.264px;
    height: 25.264px;
    flex-shrink: 0;
}

.upg-pag-next-arrow {
    display: flex;
    width: 44.212px;
    height: 44.212px;
    padding: 9.474px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 15px;

    border: 1.053px solid var(--grey, #5D6165);
    background: rgba(255, 255, 255, 0.00);
    /* background: var(--Linear, linear-gradient(90deg, #800080 3.92%, #B466C1 52.78%, #800080 92.42%)); */

}

.upg-pag-next-arrow:hover>svg>path,
.upg-pag-previous-arrow:hover>svg>path {
    stroke: white;

}

.upg-pag-next-arrow:hover,
.upg-pag-previous-arrow:hover {
    background: var(--Linear, linear-gradient(90deg, #800080 3.92%, #B466C1 52.78%, #800080 92.42%));
    border: none;
}

.upg-pag-next-arrow>svg {
    width: 25.264px;
    height: 25.264px;
    border-radius: 50%;

    flex-shrink: 0;
}

@media (width<1080px) {
    .upg-pag-star>svg {
        width: 18px;
        height: 18px;

    }

    .upg-pag-star {
        width: 18px;
        height: 18px;

    }

    .upg-pag-star-div {
        gap: 2px;
    }

    .upg-pag-next-arrow {
        margin-left: 8px;
    }

    .upg-pag-previous-arrow {
        margin-right: 8px;
    }

}

@media (width<480px) {
    .upg-pag-star-div {
        flex-wrap: wrap;

    }

    .upg-pag-star,
    .upg-pag-star>svg {
        width: 14.574px;
        height: 14.574px;
    }

    .upg-pag-tct-l {
        gap: 8px;
    }

    .upg-pag-next-arrow,
    .upg-pag-previous-arrow {
        width: 28px;
        height: 28px;
        /* margin: 0; */
        position: relative;
        padding: 0;

        border-radius: 50%;
    }


    .upg-pag-previous-arrow>svg {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 20%);
    }

    .upg-pag-next-arrow>svg {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 20%);
    }
}