:root {
    --Woodsmoke-950: #1B1B1D;
    --light-black: #585858
}


.upg-pag-text-black {
    color: black;
}

.upg-pag-text-white {
    color: white;
}

.upg-pag-text-pink {
    color: #800080;
}

.upg-pag-text-light-pink {
    color: var(--800080, rgba(128, 0, 128, 0.87));

}

.upg-pag-bg-light-pink {
    background: rgba(128, 0, 128, 0.87);

}

.upg-pag-wood-smoke-950 {
    color: var(--Woodsmoke-950);
}

.upg-pag-text-light-black {
    color: var(--light-black);
}

.upg-pag-f-55 {
    font-size: 55px;
}

.upg-pag-f-34 {
    font-size: 34px;
}

.upg-pag-td-lt {
    text-decoration: line-through;
}

.upg-pag-f-20 {
    font-size: 20px;
}

.upg-pag-f-48 {
    font-size: 48px;
}

.upg-pag-f-18 {
    font-size: 18px;
}

.upg-pag-f-16 {
    font-size: 16px;
}

.upg-pag-fw-400 {
    font-weight: 400;
}

.upg-pag-fw-500 {
    font-weight: 500;
}

.upg-pag-fw-600 {
    font-weight: 600;
}

.upg-pag-fw-700 {
    font-weight: 700;
}

.upg-pag-fw-800 {
    font-weight: 800;
}

.upg-pag-fw-900 {
    font-weight: 900;
}

.upg-pag-va-mid {
    vertical-align: middle;
}

.upg-pag-section {
    max-width: 1440px;
    margin: 0 auto;
}

.upg-pag-section {
    padding: 64px 64px;

}

.upg-pag-text-center {
    text-align: center;
}

@media (width>1280px) {
    .upg-pag-section {
        max-width: 100%;
    }


}

@media (width<1280px) {
    .upg-pag-section {
        padding: 64px 64px;
    }

    .upg-pag-f-55 {
        font-size: 50px;
    }
}

@media (width<1180px) {
    .upg-pag-f-55 {
        font-size: 42px;
    }
}

@media (width<980px) {
    .upg-pag-section {
        padding: 64px 32px;
    }

    .upg-pag-f-55 {
        font-size: 45px;

    }

}

@media (width<780px) {
    .upg-pag-section {
        padding: 64px 32px;
    }

    .upg-pag-f-16 {
        font-size: 15px;
    }

    .upg-pag-f-18 {
        font-size: 15px;
    }


    .upg-pag-f-48 {
        font-size: 38px;
    }

}

@media (width<580px) {
    .upg-pag-f-34 {
        font-size: 24px;
    }
}

@media (width<480px) {
    .upg-pag-section {
        padding: 48px 16px;
    }

    .upg-pag-f-55 {
        font-size: 35px;
    }

    .upg-pag-f-48 {
        font-size: 28px;
    }

    .upg-pag-f-16 {
        font-size: 14px;
    }

    .upg-pag-f-18 {
        font-size: 12px;
    }

    .upg-pag-f-34 {
        font-size: 16px;
    }
}

/* @media (width<400px) {
    .upg-pag-section {
        padding: 48px 12px;
    }
} */

@media (width<1280px) {}

@media (width<1080px) {}

@media (width<780px) {}

@media (width<580px) {}

@media (width<480px) {}

@media (width<360px) {}