:root {
    --Woodsmoke-950: #1B1B1D;
    --light-black: #585858
}


.text-black {
    color: black;
}

.text-white {
    color: white;
}

.text-pink {
    color: #800080;
}

.text-light-pink {
    color: var(--800080, rgba(128, 0, 128, 0.87));

}

.bg-light-pink {
    background: rgba(128, 0, 128, 0.87);

}

.wood-smoke-950 {
    color: var(--Woodsmoke-950);
}

.text-light-black {
    color: var(--light-black);
}

.f-55 {
    font-size: 55px;
}

.f-34 {
    font-size: 34px;
}

.td-lt {
    text-decoration: line-through;
}

.f-20 {
    font-size: 20px;
}

.f-48 {
    font-size: 48px;
}

.f-18 {
    font-size: 18px;
}

.f-16 {
    font-size: 16px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.va-mid {
    vertical-align: middle;
}

.section {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    padding: 64px 64px;

}

.text-center {
    text-align: center;
}

@media (width>1280px) {
    .section {
        max-width: 100%;
    }


}

@media (width<1280px) {
    .section {
        padding: 64px 64px;
    }

    .f-55 {
        font-size: 50px;
    }
}

@media (width<1180px) {
    .f-55 {
        font-size: 42px;
    }
}

@media (width<980px) {
    .section {
        padding: 64px 32px;
    }

    .f-55 {
        font-size: 45px;

    }

}

@media (width<780px) {
    .section {
        padding: 64px 32px;
    }

    .f-16 {
        font-size: 15px;
    }

    .f-18 {
        font-size: 15px;
    }


    .f-48 {
        font-size: 38px;
    }

}

@media (width<580px) {}

@media (width<480px) {
    .section {
        padding: 48px 16px;
    }

    .f-55 {
        font-size: 35px;
    }

    .f-48 {
        font-size: 28px;
    }

    .f-16 {
        font-size: 14px;
    }

    .f-18 {
        font-size: 12px;
    }
}

/* @media (width<400px) {
    .section {
        padding: 48px 12px;
    }
} */

@media (width<1280px) {}

@media (width<1080px) {}

@media (width<780px) {}

@media (width<580px) {}

@media (width<480px) {}

@media (width<360px) {}